.content {

  display: flex;

  &__list {
    width: 100%;

    &-wrapper {
      height: 407px;
      display: grid;
      place-content: center;
      background-color: rgb(234, 234, 234, 1);

      &:nth-child(2n) {
        background-color: rgb(234, 234, 234, .5);
      }
    }
  }
}